<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body class="bg-dark text-white">
    <div class="d-flex m-auto justify-content-evenly bg-light p-2 align-items-center">
        <a class="btn btn-primary" href="/">Go Back</a>
        <a class="btn btn-primary" href="/">Dashboard</a>
        <h1 class="text-center text-dark">{{user.name}} {{user.lastName}} </h1>
    </div>
    <h1 class="text-center">All recipes of {{ user.name }}</h1>
    {% for post in posts %}
    <div class="p-5 border border-1 bg-light text-dark w-50 m-auto mt-5 justify-content-evenly">
        <p>Recipe Name: {{post.namePost}}</p>
        <p>Recipe Description: {{post.description}}</p>
        <p>Recipe Instruction: {{post.instruction}}</p>
        <p>Recipe Date Signed At: {{post.date}}</p>
        <p><i><u>Created at: {{post.created_at}}</i></u></p>
        <div class="d-flex m-auto justify-content-evenly bg-light p-2 align-items-center">
            {% if post.user_id == loggedUser.id %}
            <a class="btn btn-primary" href="/update/{{post.id}}">Update Recipe</a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</body>

</html>