<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <a class="btn btn-primary" href="/">Dashboard</a>
    <div class="col-6 d-flex m-auto justify-content-center border border-1 p-5">

        <form action="/updatePost/{{post.id}}" method="post">
            <h1>Update a Recipe</h1>
            <div>
                <label for="namePost">Recipe Name</label>
                <input type="text" class="form-control" value="{{post.namePost}}" name="namePost">
            </div>
            {% with messages = get_flashed_messages(category_filter=["namePost"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div>
                <label for="description">Description</label>
                <textarea class="form-control" name="description" cols="30" rows="2">{{post.description}}</textarea>
            </div>
            {% with messages = get_flashed_messages(category_filter=["description"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div>
                <label for="instruction">Instruction</label>
                <textarea class="form-control" name="instruction" cols="30" rows="2">{{post.instruction}}</textarea>
            </div>
            {% with messages = get_flashed_messages(category_filter=["instruction"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div>
                <label for="date">Select Date</label>
                <input type="date" class="form-control" value="{{post.date}}" name="date">
            </div>
            {% with messages = get_flashed_messages(category_filter=["date"]) %}
            {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <input class="mt-2 btn btn-success" type="submit" value="Update Recipe">
        </form>
    </div>
</body>

</html>